@model WebApplication2.Models.ContactInfo

<h3>Are you sure you want to delete?</h3>

<p><b>@Model.FirstName @Model.LastName</b></p>

<form method="post" action="/contact/delete/@Model.ContactId">
    <input type="hidden" name="id" value="@Model.ContactId" />

    <button type="submit">Yes Delete</button>
    <a href="/contact">Cancel</a>
</form>