@model List<WebApplication1.Models.Student>

<h2>Students List</h2>

<table class="table">
    <tr>
        <th>Student Id</th>
        <th>Name</th>
        <th>Course</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.StudentId</td>
            <td>@item.StudentName</td>
            <td>@item.Course.CourseName</td>
        </tr>
    }
</table>