@model IEnumerable<WebApplication1.Models.Student>

<h2>Students</h2>

<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Course</th>
    </tr>

    @foreach (var s in Model)
    {
        <tr>
            <td>@s.StudentId</td>
            <td>@s.StudentName</td>
            <td>@s.CourseName</td>
        </tr>
    }
</table>